@model IEnumerable<Properties>
@{
    Layout = "_Layout";
    ViewBag.Title = "All Properties";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Property List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-success" asp-controller="Properties" asp-action="Create">
                <i class="bi bi-plus-circle-fill"></i>&nbsp;&nbsp;Create New
            </a>
        </div>
    </div>

    <br />
    <br />

    <table class="table table-bordered table-striped" id="tblProperties">
    <thead>
        <tr>
            <th>Property No</th>
            <th>Address</th>
            <th>City</th>
            <th>Cost/Sqft</th>
            <th>NoOfSqft</th>
            <th>Total</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

</table>
</div>

@section Scripts{
    <script src="~/js/properties.js"></script>
}